<div class="outer-container">
  <h1>
    CSS Image Filter Tester
  </h1>
  <div class="container">
    <img
      src="./assets/img/pexels-photo-2084254.jpeg"
      title="colorful houses"
      alt="colorful houses"
    />
    <div class="controls">
      <div class="control">
        <label for="blur">Blur:</label
        ><input id="blur" type="range" name="blur" min="0" max="25" value="0" />
      </div>
      <div class="control">
        <label for="brightness">Brightness:</label>
        <input
          id="brightness"
          type="range"
          name="brightness"
          min="0"
          max="200"
          value="100"
        />
      </div>
      <div class="control">
        <label for="contrast">Contrast:</label>
        <input
          id="contrast"
          type="range"
          name="contrast"
          min="0"
          max="200"
          value="100"
        />
      </div>
      <div class="control">
        <label for="color">Color:</label>
        <input id="color" type="color" name="color" value="#000000" />
      </div>
      <div class="control">
        <label for="grayscale">Grayscale:</label>
        <input
          id="grayscale"
          type="range"
          name="grayscale"
          min="0"
          max="200"
          value="0"
        />
      </div>
      <div class="control">
        <label for="hue-rotate">Hue-rotate:</label>
        <input
          id="hue-rotate"
          type="range"
          name="hue-rotate"
          min="0"
          max="360"
          value="0"
        />
      </div>
      <div class="control">
        <label for="invert">Invert:</label>
        <input
          id="invert"
          type="range"
          name="invert"
          min="0"
          max="100"
          value="0"
        />
      </div>
      <div class="control">
        <label for="opacity">Opacity:</label>
        <input
          id="opacity"
          type="range"
          name="opacity"
          min="0"
          max="100"
          value="100"
        />
      </div>
      <div class="control">
        <label for="saturate">Saturate:</label>
        <input
          id="saturate"
          type="range"
          name="saturate"
          min="0"
          max="100"
          value="1"
        />
      </div>
      <div class="control">
        <label for="sepia">Sepia:</label>
        <input
          id="sepia"
          type="range"
          name="sepia"
          min="0"
          max="100"
          value="0"
        />
      </div>
    </div>
    <div class="desc">
      <h2>After Work</h2>
      <p>A lot to improve, I will apply them in next project.</p>
      <hr />
      <h2>Credit</h2>
      <hr />
      <ol>
        <li>
          <a
            href="https://javascript30.com/"
            title="a link to js30 website"
            target="_blank"
          >
            https://javascript30.com</a
          >
        </li>
        <li>
          <a
            href="https://github.com/wesbos/JavaScript30"
            title="a link to js30 github"
            target="_blank"
          >
            https://github.com/wesbos/JavaScript30</a
          >
        </li>
        <li>
          <a
            href="https://www.w3schools.com/cssref/playit.asp?filename=playcss_filter&preval=drop-shadow(8px%208px%2010px%20red)"
          >
            https://www.w3schools.com/cssref/playit.asp?filename=playcss_filter&preval=drop-shadow(8px%208px%2010px%20red)</a
          >
        </li>
        <li>
          <a href="https://www.pexels.com/photo/assorted-color-boxes-2084254/"
            >https://www.pexels.com/photo/assorted-color-boxes-2084254/</a
          >
        </li>
      </ol>
    </div>
  </div>
</div>
