div.keys {
  min-height: 100vh;
  background-image: url("./../../../../assets/img/pexels-photo-1677710.jpeg");
  background-size: cover;
  color: white;
  text-align: center;
}

div.key {
  border: 0.5rem solid rgb(205, 34, 138);
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  margin: 1rem 0;
  width: 9rem;
  background-color: rgba(4, 18, 45, 0.8);
  transition: all 0.07s ease;
}

.playing {
  transform: scale(1.1);
  border-color: rgb(255, 82, 212) !important;
  box-shadow: 0 0 1rem rgb(255, 82, 212);
}

div.key > kbd {
  display: block;
  font-size: 4rem;
  text-shadow: 0 0 1rem rgb(205, 34, 138);
}

div.key > .sound {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(0, 248, 248);
}
